html{
	height: 100%;
}
body{
	height: 100%;
	background-color: #0d3c4e;
	color :#fff;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

body.start{
	background-image: url(../img/start.png);
}

h1{
	font-weight: 400;
	font-size: 42px;
	margin-bottom: 1.5em;
}

#top-banner{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
}

.round-time-bar {
	overflow: hidden;
	--duration: 5;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.round-time-bar div {
	height: 5px;
	background: #d14e31;

	animation: roundtime calc(var(--duration) * 1s);
	transform-origin: left center;
}

@keyframes roundtime {
	to {
		/* More performant than animating `width` */
		transform: scaleX(0);
	}
}
